* {
    margin: 0px;
}

#cabecera {
    background-color: rgb(59, 84, 152);
    /*Azul Faceebook rgb(59, 84, 152)*/
    width: 100%;
    height: 100px;
    text-align: center;
}

#cabecera {
    font-family: 'Klavika Bold';
    font-size: medium;
    font-weight: normal;
    color: whitesmoke;
}

.lenguaje {
    width: 25%;
    height: 100px;
    background: linear-gradient(to bottom, rgb(230, 230, 230) 0%, rgb(200, 200, 255) 100%);
    float: left;
}

.logo_lenguaje {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.proyectos {
    width: 25%;
    height: 100px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work_image {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuadricula {
    background-color: rgb(190, 190, 190);
    width: 100%;
    height: 10px;
    float: left;
}