* {
    margin: 0px;
}

#fondo {
    width: 100%;
    background-color: rgb(170, 170, 170);
}

#img_fondo {
    width: 50%;
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
}